.DS_Store
*.log
*.out
*.tmp
*.swp
*.csv
*.png
.env
.env.local
bin/
dist/
node_modules/
.gocache/
.vscode/
__pycache__/
dataset/
btc_perp_1m_dataset/
.idea/
.vscode/*.code-workspace
/platform-api
/db-migrate
